.user-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .user-card {
    width: calc(30% - 20px);
    margin: 0 5px 20px 0;
    padding: 10px;
    background-color: #cfc7f7;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .user-card h3 {
    background-color: #cfc7f7;
    margin-top: 0;
    color: #3A0360;
  }
  
  .user-card p {
    background-color: #cfc7f7;
    margin-bottom: 10px;
    color: #3A0360;
  }
  
  .user-card button {
    margin: 5px;
  }
  

  @media (max-width: 786px) {
    .card-container {
      flex-direction: column;
      align-items: center;
    }
  
    .user-card {
      width: 100%;
    }
  }